{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<!-- Preloader -->
<div id="preloader">
    <i class="circle-preloader"></i>
    <img src="{% static 'img/icone.ico' %}" alt="">
</div>

<!-- Search Wrapper -->
<div class="search-wrapper">
    <!-- Close Btn -->
    <div class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#" method="">
                    <input type="search" name="search" placeholder="O que está procurando...">
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>

{% include 'partials/menu.html' %}

<div class="row">
    <a href="/" class="btn btn-info text-wrap m-auto">Voltar</a>
    <div class="col-8 pl-1 pr-5 pt-2 pb-2">
        <h1>Novo Post</h1>
    </div>
</div>

<div class="container col-8" align="left">
    <div class="col-8 m-auto pt-2 pb-2">
        <form action="create" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-success" value="Salvar">
        </form>
    </div>
</div>

{% include 'partials/footer.html' %}
{% endblock %}